* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

h1 {
  padding: 20px 0;
  color: #44CCFF;
  font-size: 3.5rem;
}

h1 + p {
  /* padding-bottom: 50px; */
  color: #f1f1f1;
  font-size: 1.5rem;
}

#card-board {
  display: grid;
  grid-template: repeat(4, 150px)/repeat(5, 150px);
  gap: 15px;
  justify-content: center;
  width: 70%;
  max-width: 900px;
  margin: 50px auto;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 25px;;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.card:hover {
  cursor: pointer;
}

.card.hide {
  background: linear-gradient(45deg, #7C90A0 12.5%, #4E5166 12.5%, #4E5166 37.5%, #7C90A0 37.5%, #7C90A0 62.5%, #4E5166 62.5%, #4E5166 87.5%, #7C90A0 87.5%);
  background-size: 50px 50px;
  transform: rotateY(-180deg);
}

.card.hide img {
  visibility: hidden;
}

.card.finded {
  opacity: 0.7;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

footer p {
  font-size: 1rem;
  color: #f1f1f1;
}