* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

header {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 20px 0;
  color: #44CCFF;
  font-size: 3.5rem;
}

h1 + p {
  color: #f1f1f1;
  font-size: 1.5rem;
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  border-radius: 10px;
  margin: auto 15px;
  padding: 10px;
  font-size: 1.3rem;
  color: #333;
  background-color: #44CCFF;
}

#card-board {
  display: grid;
  grid-template: repeat(4, 150px)/repeat(5, 150px);
  gap: 15px;
  justify-content: center;
  margin: 50px auto;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 25px;;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.card:hover {
  cursor: pointer;
}

.card.hide {
  background: linear-gradient(45deg, #7C90A0 12.5%, #4E5166 12.5%, #4E5166 37.5%, #7C90A0 37.5%, #7C90A0 62.5%, #4E5166 62.5%, #4E5166 87.5%, #7C90A0 87.5%);
  background-size: 50px 50px;
  transform: rotateY(-180deg);
}

.card.hide img {
  visibility: hidden;
}

.card.finded {
  opacity: 0.7;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

#win-text {
  visibility: hidden;
  width: 320px;
  height: 100px;
  border-radius: 20px;
  background-color: #333;
  opacity: 0.95;
  color: #44CCFF;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
}


footer p {
  font-size: 1rem;
  color: #f1f1f1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 860px) {
  h1 {
    padding: 10px 0;
    font-size: 2.8rem;
  }

  h1 + p {
    font-size: 1.1rem;
  }

  #score {
    width: 130px;
    height: 65px;
    font-size: 1.1rem;
  }

  #card-board {
    grid-template: repeat(5, 130px)/repeat(4, 130px);
    margin: 30px auto;
  }

  .card {
    width: 130px;
    height: 130px;
  }

  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 715px) {
  header {
    justify-content: space-between;
  }

  h1 {
    font-size: 2.4rem;
  }

  h1 + p {
    font-size: 0.8rem;
  }

  #score {
    width: 110px;
    height: 55px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  #score {
    width: 100px;
    height: 50px;
    font-size: 0.8rem;
  }

  #card-board {
    grid-template: repeat(5, 100px)/repeat(4, 100px);
  }

  .card {
    width: 100px;
    height: 100px;
  }

  #win-text {
    width: 300px;
    height: 80px;
    border-radius: 15px;
    font-size: 1rem;
    top: 30%;
  }
}

@media screen and (max-width: 495px) {
  h1 {
    font-size: 1.6rem;
  }

  #score {
    width: 90px;
    height: 45px;
  }

  #card-board {
    grid-template: repeat(5, 90px)/repeat(4, 90px);
    gap: 10px;
  }

  .card {
    width: 90px;
    height: 90px;
  }


  footer p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 1.3rem;
  }

  h1 + p {
    font-size: 0.6rem;
  }

  #card-board {
    grid-template: repeat(5, 80px)/repeat(4, 80px);
    gap: 8px;
  }

  #score {
    width: 80px;
    height: 40px;;
    font-size: 0.6rem;
    margin: auto 5px;
  }

  .card {
    width: 80px;
    height: 80px;
  }
}